@model IEnumerable<M3gogo.Models.allMatches>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Host)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Host)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guest)
            </td>

            <td>
            @Html.DisplayFor(modelItem => item.StartTime)
            </td>

        </tr>
    }
    <div>
        @Html.ActionLink("BACK", "insideSAM", "base")
    </div>
</table>
