@model IEnumerable<M3gogo.Models.Match>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HostClub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestClub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.endTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Stadium)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HostClub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestClub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Stadium)
            </td>
            
        </tr>
    }

</table>
